pandas==2.2.2
scikit-learn==1.5.1
joblib==1.4.2
numpy==1.26.4
scipy==1.13.1
huggingface_hub
fastapi==0.116.1
uvicorn[standard]
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
alembic==1.16.4
typer
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
email-validator
python-jose[cryptography]
python-multipart